body,
body * {
  margin: 0;
  padding: 0;
}

.button {
  all: unset;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: rgb(228, 199, 124);
  background-color: rgb(70, 77, 58);

  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  animation: spin 10s linear infinite;
}
